/* акцент #2196F3 */
/* цвет заглавий текста #212121 */
/* цвет основного текста #757575 */
/* фон основного текста #FFFFFF */
/* фон вторичного текста #F5F4FA */
/* фон заклавий текста #2F303A */
/* цвет слова Studio  #000000 */
/* цвет текста контактов в футере rgba(255, 255, 255, 0.6) */

:root {
    --accent-color: #2196F3; 
    --title-text-color: #212121;
    --primary-text-color: #757575; 
    --background-main-color: #FFFFFF;
    --background-secondary-color: #F5F4FA;
    --background-titles-color: #2F303A;
    --studio-word-color: #000000;
    --footer-text-color: rgba(255, 255, 255, 0.6);

}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.body {
    background-color: var(--background-main-color);
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo {
    margin-right: 94px;
}

.page-studio {
    color: var(--studio-word-color);
}

.list {
    list-style: none;
}

/* Site-nav */

.page-nav {
    display: flex;
    align-items: center;
}

.site-info {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-item:not(:last-child) {
    margin-right: 40px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}





 /* !!!!!! */



.pb-2 {
    border: 1px solid #ECECEC;

}





/* Site-info */

.site-info .link {
    color: var(--primary-text-color);

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
margin-left: auto;
margin-right: 52px;
}

.site-info .link:hover,
.site-info .link:focus {
    color: var(--accent-color);
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* Hero  */

.hero {
    background-color: var(--background-titles-color);
}

.hero-title {
    color: #FFFFFF;

    
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
}

.hero-item {
    padding-top: 200px;
padding-bottom: 280px;
padding-left: 236px;
padding-right: 236px;
}


.hero-title-1 .link:hover,
.hero-title-1 .link:focus {
    color: var(--background-main-color);
    background-color: var(--accent-color);
}
/* Feature-list */

.team-title {
    margin-bottom: 50px;
}

.fuature-list .title {
    color: var(--title-text-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}


.fuature-list .text {
    color: var(--primary-text-color);

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.fuature-list {
    display: flex;
    gap: 30px;

}

.title {
    padding-bottom: 10px;
}

/* Examples */


.examples {
    color: var(--title-text-color);
    display: flex;
    flex-wrap: wrap;
    
}

/* .examples-card {
    flex-basis: calc((100%-60px)/3);
} */

.examples-card:not(:nth-child(3n)) {
    margin-right: 30px;
}
.section-title {

    margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

}

.section-portfolio {
  padding-top: 50px;
  padding-bottom: 94px;  
}

.section-portfolio-card {
    
   
    border: 1px solid #EEEEEE;
    background-color: var(--background-main-color);
}

.title-g {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}

.title-p {
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.port {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 30px;
}

.section-first {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-second {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-third {
    background-color: var(--background-secondary-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Team */

.team-title {
color: var(--title-text-color);
background-color: var(--background-secondary-color);

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.title-h {
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}



.text-team {
    color: var(--primary-text-color);

line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    gap: 30px;

}

.team-list-card {
  padding-top: 30px;
  padding-bottom: 59px;
  border: 1px;
  background-color: var(--background-main-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.title-h {
    padding-bottom: 10px;
}
/* Footer */

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

.footer-bck {
    background-color: var(--background-titles-color);
}



.footer-map {
    color: var(--background-main-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;

}

.footer-nav {
    color: var(--footer-text-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
}

.page-studio-white {
    color: var(--background-main-color);
}

/* Button */


.button {
    color: var(--background-main-color);
    background-color: var(--accent-color);
padding-top: 12px;
padding-bottom: 12px;
padding-right: 32px;
padding-left: 32px;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
font-family: inherit;
}



.button-p {
    color: var(--title-text-color);
    background-color: var(--background-secondary-color);
padding-top: 6px;
padding-bottom: 6px;
padding-right: 22px;
padding-left: 22px;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
font-family: inherit;
}

.button-hero {
    display: flex;
    gap: 8px;
    margin-top: 174px;
  
}
/* Portfolio */


.title-g {
    color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.title-p {
    color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}

